/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
html,body {
  margin:0;
  padding:0;
  background-color: black;
  font-family: 'PT Sans Narrow', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* ============================================================
  NAVIGATION
============================================================ */
.nav-container {
  height: 50px;
  line-height: 50px; 
  position: fixed;
  width:100%;
}

.nav-container ul{
  list-style-type: none;
  background-color: black;
  margin: 0px;
  text-align: right;
}

.nav-menu li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-menu a:link,
.nav-menu a:visited,
.nav-menu a:active{
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu a:hover{
  color: #5BC0DE;
}


/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: black;
  color: white;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1e1e1e;
  margin-bottom: 4px;
}

section.module.parallax h5 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1e1e1e;
  margin-top: 24px; 
}

section.module.parallax-1 {
  background-image: url("images/brooklyn-bridge-BW.jpg");
    background-size: inherit;
    background-position: center center; 

}

section.module.parallax-2 {
  background-image: url("images/flowers.jpg");
  background-position: center center; 
  background-size:100%;
}

section.module.parallax-3 {
  background-image: url("images/type_writer.jpg");
  background-size: cover;
    background-position: center; 

}
section.module.parallax-4 {
  background-image: url("images/abstract_lighting.jpg");
  background-position: center center; 

}

section.module.parallax-5{
  background-image: url("images/rose.jpg");
    background-size: cover;
    background-repeat: repeat;

}
section.module.parallax-6 {
  background-image: url("images/ducks.jpg");
  background-position: center center; 
  background-size:100%;

}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
  section.module.parallax h5 {
    font-size: 48px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
  section.module.parallax h5 {
    font-size: 80px;
  }


/* ============================================================
  SECTIONS
============================================================ */

.icon{
  color:  white;
  border: none;
  max-height: 80px;
  margin: 0 10px;
  padding: 10px;
  max-width: auto;
  vertical-align: middle;
}
.contact{
  text-align: center;
}

.contact-container{
  top: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 300;
  margin: 0px auto 40px;
  text-align: center;
  display: inline-block;
}

.contact-container a:link,
.contact-container a:visited,
.contact-container a:active {
  color: white;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
}

.glyphicon{
  font-size: 100px;
}

.education-experiences{
  text-align: center;
}

.education-experiences h3{
  font-size: 30px;
  margin-bottom: 0px;
}

.education-experiences h4{
  font-size: 24px;
}

.other-skills{
  text-decoration: underline;
}

.glyphicon.glyphicon-flash{
  font-size: 12px;
}

footer {
  color:white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}
